* {
    padding: 0;
    margin: 0;
}

table,
th,
td {
    border: 1px solid black;
    border-radius: 3px;

}


#main-menu>li {
    display: inline-block;
    padding: 20px;
    border: 2px solid #FFEED9;
    margin: 50px;
    width: 100px;
    background: #fff;
    border-radius: 10px;
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#main {
    text-align: center;
    background-color: #39A7FF;
    width: 50%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#main-menu {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#main-menu ul {
    margin: 30px;
}

#main-menu li {
    display: inline-block;
    position: relative;
}

.nav-menu {
    display: none;
}

#nav:hover .nav-menu {
    display: block;
}

button {
    width: 140px;
    padding: 10px;
}

#nav {
    position: relative;
}

.nav-menu {
    position: absolute;
    float: left;
    top: 40px;
    left: -32px;
}

.nav-menu li button {
    background-color: #FFEED9;
    margin-top: 2px;
}

.nav-menu li button:active {
    background-color: aquamarine;
}

.input-receipt input,
#receipt-detail-form-input input,
#input-change-form input,
#items-by-date-form input {
    width: 200px;
    padding: 6px 0 6px 4px;
    margin-top: 50px;
}

.input-receipt h3 {
    width: 240px;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
}

#items-by-date-form h3 {
    width: 370px;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
}

#receipt-detail-form-input h3 {
    width: 390px;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
}

#input-change-form h3 {
    width: 368px;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-create-impoter {
    width: 84px;
    height: 40px;
    float: right;
    margin-right: 80px;
    margin-bottom: 40px;
    background-color: #E0F4FF;
    border: 2px solid #87C4FF;
    border-radius: 10px;
}

.search-items {
    width: 84px;
    height: 40px;
    float: right;
    margin-right: 166px;
    margin-bottom: 40px;
    background-color: #E0F4FF;
    border: 2px solid #87C4FF;
    border-radius: 10px;
    margin-top: 20px;
}

.table-receipt {
    margin-left: 4px;
}

table {
    background-color: #39A7FF;
}

th {
    background-color: #FFEED9;
}

td {
    background-color: #E0F4FF;
}

th,
td {
    padding: 10px;
}


.error {
    margin-left: 240px;
    margin-bottom: 20px;
}

#create-importer-head {
    margin-top: 70px;
}

#product-item,
#product-receipt-add,
#receipt-detail-add,
#product-change-price,
#inventory-view,
#entry-detail-view,
#items-by-date-view {
    display: none;
}

#product-main {
    position: relative;
}

#inventory-view {
    position: absolute;
    top: 20%;
    left: 18%;
    background-color: aliceblue;
    padding: 40px 24px 40px 66px;
    border-radius: 30px;
}

#new-product-item {
    position: absolute;
    top: 18%;
    left: 22%;
    background-color: aliceblue;
    padding: 30px 24px 30px 66px;
    border-radius: 30px;
}

#product-change-price {
    position: absolute;
    top: 16%;
    left: 25%;
    background-color: aliceblue;
    padding: 32px 20px 36px 72px;
    border-radius: 30px;
    width: 600px;
}

.close-change-price {
    width: 32px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    margin-top: -20px;
    /* margin-left: 10px; */
    border-radius: 30px;
    background-color: #39A7FF;
    font-size: 24px;
}

.close-search-view {
    width: 32px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    margin-top: -20px;
    /* margin-left: 10px; */
    border-radius: 30px;
    background-color: #39A7FF;
    font-size: 24px;
}

#product-receipt-add {
    position: absolute;
    top: 16%;
    left: 25%;
    background-color: aliceblue;
    padding: 32px 16px 36px 112px;
    border-radius: 30px;
    width: 508px;
}



#product-item {
    position: absolute;
    top: 18%;
    left: 22%;
    background-color: aliceblue;
    padding: 30px 40px 30px 80px;
    border-radius: 30px;
}

#receipt-detail-add {
    position: absolute;
    top: 10%;
    left: 20%;
    background-color: aliceblue;
    padding: 30px 24px 30px 66px;
    border-radius: 30px;
}

#entry-detail-view {
    position: absolute;
    top: 18%;
    left: 22%;
    background-color: aliceblue;
    padding: 30px 40px 30px 70px;
    border-radius: 30px;
}

#items-by-date-view {
    position: absolute;
    top: 14%;
    left: 16%;
    background-color: aliceblue;
    padding: 30px 40px 30px 70px;
    border-radius: 30px;
    width: 750px;

}

#receipt-detail-form-input {
    margin-bottom: 30px;
}

.close-add-receipt-detail {
    width: 32px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    margin-top: -20px;
    margin-left: 8px;
    border-radius: 30px;
    background-color: #39A7FF;
    font-size: 24px;

}

.close-product-table {
    width: 32px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    margin-top: -90px;

    margin-left: 10px;
    border-radius: 30px;
    background-color: #39A7FF;
    font-size: 24px;

}

.close-add-receipt {
    width: 32px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    margin-top: -20px;
    margin-left: 8px;
    border-radius: 30px;
    background-color: #39A7FF;
    font-size: 24px;
}

.close-inventory-table {
    width: 32px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    margin-top: -28px;
    margin-left: 10px;
    border-radius: 30px;
    background-color: #39A7FF;
    font-size: 24px;
}

.close-detail-view {
    width: 32px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    margin-top: -22px;
    margin-left: 10px;
    border-radius: 30px;
    background-color: #39A7FF;
    font-size: 24px;
}

.back-receipt-detail {
    width: 18px;
    height: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    margin-top: -20px;
    margin-left: -34px;
    background-color: #39A7FF;
    font-size: 24px;

}

.close-product-table:hover,
.back-receipt-detail:hover,
.close-add-receipt:hover,
.close-add-receipt-detail:hover,
button:hover,
.close-change-price:hover,
.close-detail-view:hover,
#main-menu>li:hover {
    cursor: pointer;
}

.submit-receipt {
    width: 84px;
    height: 40px;
    float: right;
    margin-right: 80px;
    background-color: #E0F4FF;
    border: 2px solid #87C4FF;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.error-receipt-detail {
    margin-left: 490px;
}

.error-change-price {
    margin-left: 470px;

}

.change-price {
    width: 130px;
    height: 50px;
    float: right;
    margin-right: 30px;
    background-color: #E0F4FF;
    border: 2px solid #87C4FF;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-top: 30px;
}


#table-receipt-detail-view {
    margin-left: 50px;
}

.button-show-detail {
    width: 30px;
    height: 30px;
}

.button-show-detail:hover {
    cursor: pointer;

}

.table-receipt-detail-view:last-child {
    cursor: pointer;

}

.table-receipt-detail {
    margin-bottom: 30px;
    margin-left: 58px;
}

#entry-detail-view h1,
#product-change-price h1,
#inventory-view h1,
#product-receipt-add h1,
#product-item h1,
#receipt-detail h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 50px
}

#items-by-date-form h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px
}
